html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Nanum Gothic','Roboto', sans-serif, arial;
	background: #fff;
	font-family: sans-serif;
	font-weight: 100;
}

.subWidget {
  height: calc(100% - 59px);
}

.subWidget .group {
  height: 100%;
}

.widgetSubInfo {
  .chartSubTit {
    height: 80px;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(145deg, #536cac 20%, #5090bf 84%);
    border-radius: 10px;
    h3 {
      font-size: 1.5rem;
    }
  }
  p, span {
    font-size: 1.25rem !important;
    color: #000;
    font-weight: 500;
  }
}

.dashboardTit {
  position: relative;
}
.dashboardCnt {
  font-weight: 500;
  padding-top: 10px;
  position: relative;
  top: unset;
  bottom: unset;
  left: 0;
  right: 0;
  .manager-list {
    li {
      &:first-child {
        border-top: 0;
      }
      padding: .5rem 1.5rem;
      border-top: 1px dotted #cbd0e2;
    }
    span:nth-child(2), span:nth-child(3) {
      margin-left: 0.5rem;
      padding-right: 1.5rem;
      padding-left: 0.5rem;
      font-size: 0.96rem;
      border-left: 1px solid #ddd;
    }
  }
  .fa-square {
    &.onsite {
      color: #47BAC1;
    }
    &.finance {
      color: #6ED5B3;
    }
    &.declaration {
      color: #F7C44F;
    }
    &.onepoint {
      color: #6B93D0;
    }
    &.transaction {
      color: #fe6d73;
    }
  }
  .calendar {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    thead th {
      border-top: none;
    }
    th, td {
      font-size: 1rem;
      border: 5px solid #fff;
      text-align: center;
      vertical-align: middle !important;
      padding-top: 1.1rem;
      padding-bottom: 1rem;
    }
    td {
      border-radius: 20px;
      background-color: #f1f1f1;
      &.onsite, &.finance, &.declaration, &.onepoint, &.transaction {
        color:#fff;
      }
      &.onsite {
        background-color: #47BAC1;
      }
      &.finance {
        background-color: #6ED5B3;
      }
      &.declaration {
        background-color: #F7C44F;
      }
      &.onepoint {
        background-color: #6B93D0;
      }
      &.transaction {
        background-color: #fe6d73;
      }
    }
  }
}

//신규

.fa.success {
  color: #00c851;
}
.fa.danger {
  color: #ff3547;
}
.fa.notice {
  color: #ff9800;
}
.fa-spinner {
  color: #003049;
}

div.results {
  border: 1px solid #ddd;
  padding: 10px;
  th, td {
    text-align: center;
    vertical-align: middle !important;
  }
  td {
    display: table-cell
  }
}

#tabela1_wrapper {
  margin-top: 2rem;

  td {
    font-size: 0.8rem;
    font-weight: 400;
  }

  tbody > tr:hover {
    background-color: #eee;
  }
}

div.table-responsive > div.dataTables_wrapper > div.row {
  display: block;
}

/*table collapsed*/

.level1 {
  margin-bottom: 0;
}

/*badge*/

.badge {
  font-size: small;
  font-weight: 300;
}

/*tooltip*/
/* Tooltip CSS */
/* START TOOLTIP STYLES */

[tooltip] {
  position: relative;

  /* opinion 1 */

  &::before, &::after {
    text-transform: none;

    /* opinion 2 */
    font-size: 1.2em;

    /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: block;
    opacity: 0;
  }

  &::before {
    content: '';
    border: 5px solid transparent;

    /* opinion 4 */
    z-index: 999999;

    /* absurdity 1 */
  }

  &::after {
    content: attr(tooltip);

    /* magic! */
    text-align: center;

    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 999999;

    /* absurdity 2 */
  }

  &:hover {
    &::before, &::after {
      display: block;
    }
  }
}

/* Applies to all tooltips */

/* Make the tooltips respond to hover */

/* don't show empty tooltips */

[tooltip=''] {
  &::before, &::after {
    display: none !important;
  }
}

/* FLOW: UP */

[tooltip] {
  &:not([flow])::before, &[flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }

  &:not([flow])::after, &[flow^="up"]::after {
    bottom: calc(100% + 5px);
  }

  &:not([flow]) {
    &::before, &::after {
      left: 50%;
      transform: translate(-50%, -0.5em);
    }
  }

  &[flow^="up"] {
    &::before, &::after {
      left: 50%;
      transform: translate(-50%, -0.5em);
    }
  }

  &:not([flow]):hover {
    &::before, &::after {
      animation: tooltips-vert 300ms ease-out forwards;
    }
  }

  &[flow^="up"]:hover {
    &::before, &::after {
      animation: tooltips-vert 300ms ease-out forwards;
    }
  }
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}
