html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nanum Gothic', 'Roboto', sans-serif, arial;
  background: #fff;
  font-family: sans-serif;
  font-weight: 100;
}

// (공통) 타이틀/컨텐츠
.dashboardTit {
  position: relative;
}

.dashboardCnt {
  font-weight: 500;
  padding-top: 10px;
  position: relative;
  top: unset;
  bottom: unset;
  left: 0;
  right: 0;

  .manager-list {
    li {
      padding: .75rem 1.5rem;
      border-top: 1px dotted #cbd0e2;

      &:last-child {
        border-bottom: 1px dotted #cbd0e2;
      }

      span {
        max-width: calc(100% - 170px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:first-child {
          border-top: 0;
          width: 70px;
          max-width: 70px;
        }

        &.user {
          width: 100px;
          max-width: 100px;
        }
      }
    }

    span:nth-child(2),
    span:nth-child(3) {
      margin-left: 0.5rem;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      font-size: 0.96rem;
      border-left: 1px solid #ddd;
    }
  }

  .check-point {
    span {
      font-size: 1rem !important;
    }

    .fa-square {
      padding-right: 5px;

      &.onsite {
        color: #47BAC1;
      }

      &.finance {
        color: #6ED5B3;
      }

      &.declaration {
        color: #F7C44F;
      }

      &.onepoint {
        color: #6B93D0;
      }

      &.transaction {
        color: #fe6d73;
      }
    }
  }

  .calendar {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;

    thead th {
      border-top: none;
    }

    th,
    td {
      font-size: 1rem;
      border: 5px solid #fff;
      text-align: center;
      vertical-align: middle !important;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

    td {
      border-radius: 20px;
      background-color: #f1f1f1;

      &.onsite,
      &.finance,
      &.declaration,
      &.onepoint,
      &.transaction {
        color: #fff;
      }

      &.onsite {
        background-color: #47BAC1;
      }

      &.finance {
        background-color: #6ED5B3;
      }

      &.declaration {
        background-color: #F7C44F;
      }

      &.onepoint {
        background-color: #6B93D0;
      }

      &.transaction {
        background-color: #fe6d73;
      }
    }
  }
}

// 예외오류, ITSM SR, 고객문의, 월작업Check
.dashboard-table {
  .widgetSubInfo {
    .chartSubTit {
      height: 80px;
      font-weight: 500;
      color: #fff;
      background: linear-gradient(145deg, #536cac 20%, #5090bf 84%);
      border-radius: 10px;

      h3 {
        font-size: 1.5rem;
      }
    }

    p,
    span {
      font-size: 1.25rem !important;
      color: #000;
      font-weight: 500;
    }
  }

  div.results {
    border: 1px solid #ddd;

    .table {
      margin: 0;
    }

    th,
    td {
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
      vertical-align: middle !important;
    }

    td {
      display: table-cell;
      font-weight: 400;
    }
  }

  .datePick {
    button {
      padding: 5px 10px;
      background-color: transparent;
    }

    p {
      margin: 0 10px;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

// 하단차트
.dashboard-chart {
  .dataCnt {
    margin: 20px 0;

    #folder {
      background: #758cba;
      top: 12px;
      left: 18px;
      border-radius: 0 0 5px 5px;
      height: 100px;
      width: 80%;
      box-shadow: 0 -10px 0 -5px #f3f3f3, 0 -10px 0 0 #3d4d7f, 0 3px 0 0 rgba(0, 0, 0, 0.2);

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
      }

      &:before {
        width: 35px;
        top: -25px;
        height: 20px;
        border-bottom: 10px solid #3d4d7f;
        border-right: 10px solid transparent;
        z-index: -1;
      }
    }

    .folderTit {
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      color: #fff;

      h3 {
        font-weight: 600;
      }

      span {
        margin-top: -15px;
      }
    }

    .data-list {
      margin-top: -10px;

      li {
        margin-bottom: 5px;
        height: 30px;

        .boardBar {
          width: 100%;
          height: inherit;
        }
      }

      p {
        padding-right: 5px;
        display: inline;
        width: 100px;
        font-weight: 600;
        letter-spacing: -.5px;
      }
    }

    .risk-box {
      position: relative;
      border: 2px solid #f00;

      &:before {
        position: absolute;
        display: block;
        content: "High Risk Issue";
        padding: 5px 0;
        width: 150px;
        top: -29px;
        left: -2px;
        text-align: center;
        color: #fff;
        font-size: 1.25rem;
        font-weight: 700;
        background-color: #f00;
      }

      li:first-child {
        border-top: unset;
      }

      li:last-child {
        border-bottom: unset;
      }
    }
  }
}