html,
body {
	height: 100%;
}

body {
	margin: 0;
	// background: linear-gradient(45deg, #49a09d, #5f2c82);
	background: #fff;
	font-family: sans-serif;
	font-weight: 100;
}

// .container {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, -50%);
// }

// table {
// 	width: 800px;
// 	border-collapse: collapse;
// 	overflow: hidden;
// 	box-shadow: 0 0 20px rgba(0,0,0,0.1);
//   text-align: center;
// }

// th,
// td {
// 	padding: 15px;
// 	background-color: rgba(255,255,255,0.2);
// 	color: #3b3b3b;
// }

// th {
// 	text-align: center;
// 	color: #fff;
// }

// thead {
// 	th {
// 		background-color: #36304a;
// 	}
// }

// tbody {
// 	tr {
//     // position: relative;
// 		// &:hover {
// 		// 	background-color: rgba(255,255,255,0.3);
// 		// }
// 	}
// 	td {
// 		position: relative;
//     &:hover {
//       background-color: #6c7ae0;
//       color: #fff;
//     }
// 		&:hover {
// 			&:before {
// 				content: "";
// 				position: absolute;
// 				left: 0;
// 				right: 0;
// 				top: -9999px;
// 				bottom: -9999px;
// 				background-color: #e7e7e7;
// 				z-index: -1;
// 			}
//       &::after {
// 				content: "";
// 				position: absolute;
// 				top: 0;
// 				bottom: 0;
// 				left: -9999px;
// 				right: -9999px;
// 				// background-color: rgba(255,255,255,0.2);
// 				background-color: #e7e7e7;
// 	      // background:linear-gradient(45deg, rgb(89 231 226 / 20%), rgb(53 86 211 / 20%));
// 				z-index: -1;
//       }
// 		}
// 	}
// }


//신규
.result-content {
  padding: 10px;
}

.fa.success {
  color: #00c851;
}
.fa.danger {
  color: #ff3547;
}
.fa.notice {
  color: #ff9800;
}
.fa-spinner {
  color: #003049;
}

div.results {
  border: 1px solid #ddd;
  padding: 10px;
  th, td {
    text-align: center;
    vertical-align: middle !important;
  }
  td {
    display: table-cell
  }
}

#tabela1_wrapper {
  margin-top: 2rem;

  td {
    font-size: 0.8rem;
    font-weight: 400;
  }

  tbody > tr:hover {
    background-color: #eee;
  }
}

div.table-responsive > div.dataTables_wrapper > div.row {
  display: block;
}

/*table collapsed*/

.level1 {
  margin-bottom: 0;
}

/*badge*/

.badge {
  font-size: small;
  font-weight: 300;
}

/*tooltip*/
/* Tooltip CSS */
/* START TOOLTIP STYLES */

[tooltip] {
  position: relative;

  /* opinion 1 */

  &::before, &::after {
    text-transform: none;

    /* opinion 2 */
    font-size: 1.2em;

    /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: block;
    opacity: 0;
  }

  &::before {
    content: '';
    border: 5px solid transparent;

    /* opinion 4 */
    z-index: 999999;

    /* absurdity 1 */
  }

  &::after {
    content: attr(tooltip);

    /* magic! */
    text-align: center;

    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 999999;

    /* absurdity 2 */
  }

  &:hover {
    &::before, &::after {
      display: block;
    }
  }
}

/* Applies to all tooltips */

/* Make the tooltips respond to hover */

/* don't show empty tooltips */

[tooltip=''] {
  &::before, &::after {
    display: none !important;
  }
}

/* FLOW: UP */

[tooltip] {
  &:not([flow])::before, &[flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }

  &:not([flow])::after, &[flow^="up"]::after {
    bottom: calc(100% + 5px);
  }

  &:not([flow]) {
    &::before, &::after {
      left: 50%;
      transform: translate(-50%, -0.5em);
    }
  }

  &[flow^="up"] {
    &::before, &::after {
      left: 50%;
      transform: translate(-50%, -0.5em);
    }
  }

  &:not([flow]):hover {
    &::before, &::after {
      animation: tooltips-vert 300ms ease-out forwards;
    }
  }

  &[flow^="up"]:hover {
    &::before, &::after {
      animation: tooltips-vert 300ms ease-out forwards;
    }
  }
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */

.result-box {
  border-left: 1px solid #003049;
  border-right: 1px solid #003049;
  border-bottom: 1px solid #003049;
}
.result-title{
  margin-bottom: 0;
  padding: 10px;
  background-color: #003049;
  color: #fff;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;
  line-height: 2rem;
}