html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nanum Gothic', 'Roboto', sans-serif, arial;
  background: #fff;
  font-family: sans-serif;
  font-weight: 100;
}

.subWidget {
  height: calc(100% - 59px);
}

.subWidget .group {
  height: 100%;
}

.table-responsive {
  padding: 10px;
}

.table.dashboard-table {

  thead th,
  tbody td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #c0c0c0;
  }
}


//신규

.fa.success {
  color: #00c851;
}

.fa.danger {
  color: #ff3547;
}

.fa.notice {
  color: #ff9800;
}

.fa-spinner {
  color: #003049;
}

div.results {
  border: 1px solid #ddd;
  padding: 10px;

  th,
  td {
    text-align: center;
    vertical-align: middle !important;
  }

  td {
    display: table-cell
  }
}

#tabela1_wrapper {
  margin-top: 2rem;

  td {
    font-size: 0.8rem;
    font-weight: 400;
  }

  tbody>tr:hover {
    background-color: #eee;
  }
}

div.table-responsive>div.dataTables_wrapper>div.row {
  display: block;
}

/*table collapsed*/

.level1 {
  margin-bottom: 0;
}

/*badge*/

.badge {
  font-size: small;
  font-weight: 300;
}

/*tooltip*/
/* Tooltip CSS */
/* START TOOLTIP STYLES */

[tooltip] {
  position: relative;

  /* opinion 1 */

  &::before,
  &::after {
    text-transform: none;

    /* opinion 2 */
    font-size: 1em;

    /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: block;
    opacity: 0;
  }

  &::before {
    content: '';
    border: 5px solid transparent;

    /* opinion 4 */
    z-index: 999999;

    /* absurdity 1 */
  }

  &::after {
    content: attr(tooltip);

    /* magic! */
    text-align: center;

    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .75ch 1ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 999999;

    /* absurdity 2 */
  }

  &:hover {

    &::before,
    &::after {
      display: block;
    }
  }
}

/* Applies to all tooltips */

/* Make the tooltips respond to hover */

/* don't show empty tooltips */

[tooltip=''] {

  &::before,
  &::after {
    display: none !important;
  }
}

/* FLOW: UP */

[tooltip] {

  &:not([flow])::before,
  &[flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }

  &:not([flow])::after,
  &[flow^="up"]::after {
    bottom: calc(100% + 5px);
  }

  &:not([flow]) {

    &::before,
    &::after {
      left: 50%;
      transform: translate(-50%, -0.5em);
    }
  }

  &[flow^="up"] {

    &::before,
    &::after {
      left: 50%;
      transform: translate(-50%, -0.5em);
    }
  }

  &:not([flow]):hover {

    &::before,
    &::after {
      animation: tooltips-vert 300ms ease-out forwards;
    }
  }

  &[flow^="up"]:hover {

    &::before,
    &::after {
      animation: tooltips-vert 300ms ease-out forwards;
    }
  }
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}